<h2>Pesquisa pelo endereços</h2>
<hr />
<form class="form-inline">
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Uf:</label>
        <select ng-model="model.uf" id="uf" class="form-control" ng-options="item as item.name for item in ufs track by item.value"></select>
    </div>
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Nome da cidade:</label>
        <input type="text" class="form-control" ng-model="model.city" maxlength="30" placeholder="Nome da cidade">
    </div>
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Endereço:</label>
        <input type="text" class="form-control" ng-model="model.address" maxlength="30" placeholder="Endereço">
    </div>
    <div class="form-group mx-sm-3">
        <button type="button" class="btn btn-primary mb-2" ng-click="find();">Busca</button>
    </div>
    <div class="form-group mx-sm-3">
        <button type="button" class="btn btn-danger mb-2" ng-click="clear();">Limpar</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Dados do CEP</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in items">
            <td>
                <div><code>CEP:</code> {{model.cep}}</div>
                <div><code>Endereço:</code> {{model.logradouro}}</div>
                <div><code>Bairro:</code> {{model.bairro}}</div>
                <div><code>Cidade:</code> {{model.localidade}}</div>
                <div><code>UF:</code> {{model.uf}}</div>
                <div><code>IBGE:</code> {{model.ibge}}</div>
                <div><code>Complemento:</code> {{model.complemento}}</div>
                <div><code>Gia:</code> {{model.gia}}</div>
            </td>
        </tr>
    </tbody>
</table>